

.dropZone {
	border: 4px dashed var(--mui-palette-grey-300);
	border-radius: 5px;
	background-color: var(--mui-palette-grey-100);
	text-align: center;
	margin: 20px 0;
	padding: 40px;
	cursor: pointer;
}