@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-sans--font-feature-settings: 'cv11';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v143/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /*** Proquinal font ***/
  --proquinal-font: "Inter", sans-serif;

  /*** Proquinal colors ***/
	--proquinal-dark: #20140e;
  --proquinal-dark-teal: #00575f;
  
  /*** React Toastify overwrites *****/
  --toastify-color-light: var(--mui-palette-common-white);
  --toastify-color-dark: var(--mui-palette-common-black);
  --toastify-color-info: var(--mui-palette-info-main);;
  --toastify-color-success: var(--mui-palette-success-main);
  --toastify-color-warning: var(--mui-palette-warning-main);
  --toastify-color-error: var(--mui-palette-error-main);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  
  --toastify-container-width: fit-content;
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-padding: 14px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;
  /*******************************************/
}

html {
  height: 100%;
  color-scheme: light !important;
}

body {
  color: var(--foreground);
  background-color: var(--background) !important;
  font-family: var(--proquinal-font);
  height: 100%;
}

.c-datepicker * {
  box-sizing: content-box;
}

.c-datepicker, .c-scrim {
  z-index: 1301;
}

#nprogress .bar {
  background: var(--mui-palette-primary-main);
}
#nprogress .peg {
  box-shadow: none;
}

/* Sube TODAS las listas de opciones de Combobox por encima de los modales */
[data-headlessui-state][role='listbox'] {
  z-index: 14000 !important;
}

